*{

    margin:0;
    padding:0;
    box-sizing:border-box;
        font-family: 'Abel';
}
.logo {
    position: relative;
    display: flex;
    text-align: center;
    margin-left: 20px ;
    margin-top: 20px;
    height: 35px;
    width: 140px;
    font-size: 27px;
    padding: 0 10px;
    border: 2px solid black;
    outline: none;
    z-index: 1;

}
.logo a{
    font-family: 'Kelly Slab';
    text-decoration: none;
    color: black;
}
.icon-perfil{
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.busca{
    position: absolute;
    width: 400px;
    top:20px;
    left: 200px;
    display: flex;
    align-items: center;
}
.busca input[type="text"]{
    padding: 8px;
    border: 1px solid rgb(73, 4, 103);
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
}
button{
    background-color: rgba(186, 172, 247) ;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}
svg{    
    cursor: pointer;
    color: rgb(73, 4, 103, 0.5);
}
.container{
    padding:20px;
    margin-left: 40px;
}
header{
    font-size: 30px;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 20px;
}
.box-top {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    width:1920px;
    height: 100px;
    background-color: rgba(186, 172, 247);
    z-index: 0;
}
.card{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    border: 1px solid rgb(73, 4, 103);;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-5px);
}
.card h2{

    font-size: 20px;
    text-align:center;
    margin: 10px 0;
}
.card .svg{    
    padding: 10px;
    margin: 10px;
    margin-left: 45px;
    align-items: center;
    cursor: pointer;
    color: rgb(73, 4, 103, 0.5);
}