
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
        font-family: 'Abel';
}

.logo{
    position: relative;
    display: flex;
    z-index: 1;    
    outline: none;
    text-align: center;
    margin-left: 20px ;
    margin-top: 20px;
    height: 35px;
    width: 140px;
    font-size: 27px;
    padding: 0 10px;
    border: 2px solid black;
    position: fixed;
    top: 20px;
    left: 10px;

}

.logo a{
    font-family: 'Kelly Slab';
    text-decoration: none;
    color: black;
}
p{
    font-size: 35px;
    margin-left: 20px;
}
header{
    margin-top: 20px;
    font-size:50px;
    text-align: center;
}
.box{
    background: #fdfdfd;
    display: inline-block;
    flex-direction: column;
    padding: 25px 25px;
    box-shadow: 0 0 60px 0 rgb(148, 98, 169),
    0 32px 64px -48px rgba(148, 98, 169);
   
}
.form-box{
    background-color: rgb(186, 172, 247);
    height:400px;
    width: 500px;
    margin: 0px 10px;
}
.form-box form .input input{
    text-align: center;
    height: 40px;
    width: 400px;
    font-size: 16px;
    padding: 0 10px;
    border-radius:30px;
    border: 1px solid #ccc;
    outline: none;
}
.form-box form .field {
    margin-top: 20px;
    align-items: center;
    display:flex;
    margin-bottom: 10px;
    flex-direction:column;
    outline: none;
}
.btn{
    position: relative;
    z-index: 1;
    background-color: rgba(186, 172, 247, 0.5);
    margin-left: 20px;
    text-align: center;
    width: 100px;
    height: 37px;
    font-size: 20px;
    outline: none;
    padding: 5px;
    border-radius: 15%;
    border: none;
    cursor:pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.submit{
    width: 100%;
}
.links{
    text-align: center;
    margin-bottom: 15px;
}
.box-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: rgba(186, 172, 247);
    z-index: 0;
}

.content {
    margin-left: 200px; 
    padding: 20px;
}

 .nav{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

 .right-links{
    padding: 0 10px;
 }


 main{
    align-items: left;
    justify-content:center;
    margin-top: 20px;
    
 }
 .main-box{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    width: 40%;
 }
 .main-box .top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .box{
    margin: 20px;
    font-size: 25px;
 }
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
#perfilFotoInput {
    display: none;
}

.perfil-foto {
    text-align: center;
    position: absolute;
    top: 60px;
    right: 60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(186, 172, 247);
    padding: 5px 10px;
    border-radius: 100%;

}
.svg{    
    margin-right: 20px;
    cursor: pointer;
    margin-top: 90px;
    color: rgb(73, 4, 103, 0.5);
}

.perfil-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container-p{
    display: flex;
    margin-top:30px;
    display:flex;

    min-height:90vh;
}

.box-p{ 
    background: #fdfdfd;
    display: inline-block;
    flex-direction: column;
    padding: 25px 25px;

}
.form-box-p{
    background-color: rgb(250, 250, 250);
    height:650px;
    width: 700px;
    margin: 20px;
}
.form-box-p form .input-p input{
    text-align: center;
    height: 60px ;
    width: 400px;
    font-size: 20px;
    border: 1px solid #ccc;
    outline: none;
}
.form-box-p form .field-p {
    align-items: center;
    display:flex;
    flex-direction:column;
    outline: none;
    display: inline;
}

.field-p textarea{
    text-align: center;
    height: 60px ;
    width: 400px;
    font-size: 20px;
    border: 1px solid #ccc;
    outline: none;
}


.btn-login{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    width: 40px;
    color:white;
    height: 40px;
    background-color:rgb(73, 4, 103);
    border:0;
    border-radius:25%;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-left: 350px;
    padding:10px;
}